@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   text-align:center;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#333;
   border-top:10px solid #0080B0;
   background:#fff url("../images/bg.gif") 50% 50% repeat-y fixed;
}

br {
   letter-spacing:normal;
}

a {
   color:#333;
   text-decoration:none;
}

a:hover {
   color:#ddd;
   text-decoration:none;
}

img {
   border:0;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}

form,p,input {
	margin: 0;
}

/* ========TEMPLATE FRAMEWORK======== */
#top {
   width:780px;
   margin:0 auto;
   text-align:left;
}

#header {
   width:780px;
   height:60px;
   margin-bottom:10px;
   background:#fff url("../images/bg_head.gif") 0% 0% no-repeat;
   border-bottom:1px solid #666;
}

#contents {
   clear:both;
   width:780px;
   margin:0 0px;
}

#main {
   float:left;
   width:580px;
}

#searchReset {
   float:right;
   margin-top:-23px;
   margin-right:0px;
}

#sub {
   float:right;
   width:180px;
}

#footer {
   clear:both;
   width:780px;
   margin-top:10px;
   border-top:1px solid #666;
   background:#fff;
}

#form{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
}

/* 回り込み解除 */
#contents:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}

/* ========TOP CUSTOMIZE======== */
#top a {
/*    margin:0 0 1em 0; */
   color:#0000FF;
}

/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding:0 10px;
   font-size:42px;
   line-height:60px;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main a {
   color:#0080B0;
}

#main a:hover {
   color:#0080B0;
   border:0;
   border-bottom:1px solid #0080B0;
}

#main h2 {
   margin-bottom:5px;
   font-weight:bold;
   font-size:15px;
   border-bottom:2px solid #0080B0;
}

#main h3 {
   margin-bottom:5px;
   font-size:12px;
   border-bottom:1px dotted #0080B0;
}

#main h4 {
   margin:0 0 5px 0;
   padding-left:5px;
   font-size:26px;
   border-left:5px solid #666;
   background:#ccc;
}

#main h5 {
   margin:0 0 5px 0;
   padding-left:5px;
   font-size:13px;
   background:#ccc;
}

#main h6 {
   margin:0 0 5px 0;
   font-size: 18px;
   color: #FF0000;
}

#main p {
   margin:0 0 1em 0;
}

#main dl {
   margin:0;
   padding:0;
}

#main dt {
   font-weight:bold;
}

#main dd {
   margin:0 0 1em 0;
   padding:0;
}

#main ul,
#main ol {
   margin:0 0 1em 40px;
   padding:0;
}

.messageBlock {
    padding: 20px;
    background: #FFE4B5;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
    word-break: break-all;
}


.commentBlock {
    padding: 20px;
    background: #E0FFFF;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
    word-break: break-all;
}


/* ========SUB CONTENTS CUSTOMIZE======== */
#sub .section {
   margin-bottom:10px;
}

#sub h2 {
   padding:5px;
   font-size:13px;
   font-weight:bold;
   color:#fff;
   text-align:center;
   background:#0F98AD;
}

#sub ul {
   margin:0;
   padding:0;
   border:1px solid #aaa;
   border-top:none;
   background:#fff;
}

#sub li {
/*    width:198px; */
   list-style:none;
   border-top:1px solid #aaa;
   background:#efefef;
}

#sub li a {
   /* /zoom:1;for IE6 */
   display:block;
   padding:10px 5px;
}

#sub li a:hover {
   border-left:5px solid #0089a1;
}

/* ========MENU CUSTOMIZE======== */
#menu ul {
   margin:0;
   padding:0;
}

#menu li {
   margin:0;
   padding:0;
   list-style-type:none;
   border-bottom:1px solid #999;
}

#menu li a {
   display:block;
   width:175px;
   padding-left:5px;
   color:#333;
   line-height:2.5;
   background:#ddd;
}

#menu li a:hover {
   color:#333;
   background:#d4d4d4;
}


/* ========FOOTER CUSTOMIZE======== */
#pageTop {
   padding:10px 10px 0 0;
   text-align:right;
}
.sample-box-13 {
    border: 2px solid #da4033;
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em;
    position: relative;
}
.sample-box-13::before {
    background-color: #fff;
    color: #da4033;
    content: "絞り込み";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}