@charset "UTF-8";

body {
   margin:0;
   padding:0;
   text-align:center;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#333;
   border-top:10px solid #0080B0;
   background:#fff url("../images/bg.gif") 50% 50% repeat-y fixed;
}
p,form,input{margin: 0}
#form{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

form p{
    font-size: 14px;
    }

.form-title{
    text-align: center;
    }

.mail,.pass{
    margin-bottom: 20px;
    }

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }

.submit{
    text-align: center;
    }